<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a >
                        Marble System
                    </a>
                </li>
                <li>
                    <a >
                       Blog
                    </a>
                </li>
                <li>
                    <a >
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
             made with  by <a >Marble System</a>
        </div>
    </div>
</footer>
