.container-fluid {
    background-color: #ffff;
    ul {
        list-style: none;
    }
    .logo-footer {
        text-align: center;
        img {
            width: 200px;
    
        }
    }
    
}


body{
	background: #ffffff;
}

header{
	width: 100%;
}



.navegacion ul{
	list-style: none;
}

.menu > li{
	position: center;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 10px 15px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: center;
	background: #ffffff;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 10px;
	color: rgb(0, 0, 0);
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}