<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 logo-footer">
        <img src="assets/img/MarmolMendoza.png" alt="image">
    </div>
    <div class="col-md-4">
      <ul>
        <a  routerLink="client/info" style="color: black;" >Quienes somos </a><br>
        <a routerLink="client/inicio" style="color: black;">Contacto</a>
        <li>Trabaja con nosotros</li>
        <li>Proveedores</li>
      
      </ul>
    </div>
      
      <nav class="navegacion">
        <ul class="menu">
          <li><a href="#">Ayuda</a>
            <ul class="submenu">
              <li><a routerLink="client/help">Iniciar sesión</a></li>
              <li><a routerLink="client/join">Registrarse</a></li>
              <li><a routerLink="client/buy">Creditos, abonos y cotizaciones</a></li>
            </ul>
          </li>
          
        </ul>
      </nav>

     
  </div>
</div>
