.container-fluid {
    background-color: #ffff;
    ul {
        list-style: none;
    }
    .logo-footer {
        text-align: center;
        img {
            width: 200px;
    
        }
    }
    
}