<h1 class="h1">{{ isUpdate ? "AGREGAR ABONO" : "AGREGAR CREDITO" }}</h1>

<form [formGroup]="cAddRentForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      placeholder="Ingrese nombre completo"
      formControlName="name"
    />
    <small
      *ngIf="
        cAddRentForm.get('name').invalid && cAddRentForm.get('name').touched
      "
      class="text-danger"
      >El nombre es requerido</small
    >
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Ingresar email"
      formControlName="email"
    />
    <small
      *ngIf="
        cAddRentForm.get('email').invalid && cAddRentForm.get('email').touched
      "
      class="text-danger"
      >El nombre es requerido</small
    >
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Cedula</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Cedula"
      formControlName="document"
    />
    <small
      *ngIf="
        cAddRentForm.get('document').invalid &&
        cAddRentForm.get('document').touched
      "
      class="text-danger"
      >El nombre es requerido</small
    >

    <small id="emailHelp" class="form-text text-muted"
      >Cuidado con este número se consulta esta venta</small
    >
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Abono</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Abono "
      formControlName="rent"
    />
    <small
      *ngIf="
        cAddRentForm.get('rent').invalid && cAddRentForm.get('rent').touched
      "
      class="text-danger"
      >El nombre es requerido</small
    >

    <small id="emailHelp" class="form-text text-muted"
      >Cuidado, ingrese el valor correcto</small
    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Precio</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Precio total "
      formControlName="price"
    />
    <small
      *ngIf="
        cAddRentForm.get('price').invalid && cAddRentForm.get('price').touched
      "
      class="text-danger"
      >El nombre es requerido</small
    >

    <small id="emailHelp" class="form-text text-muted"
      >Cuidado, ingrese el valor correcto</small
    >
  </div>

  <div class="form-group">
    <label for="Ciudad">Seleccione la ciudad </label>

    <select id="inputState" class="form-control" formControlName="city">
      <option selected>Selecciona...</option>
      <option>Medellín</option>
      <option>Bogotá</option>
      <option>Cali</option>
    </select>
    <small
      *ngIf="
        cAddRentForm.get('city').invalid && cAddRentForm.get('city').touched
      "
      class="text-danger"
      >El nombre es requerido</small
    >
  </div>

  <div class="form-group">
    <label for="Ciudad">Seleccione tipo de producto </label>

    <select id="inputState" class="form-control" formControlName="product">
      <option selected>Selecciona...</option>
      <option>Meson</option>
      <option>Cocina</option>
      <option>Baño</option>
    </select>
    <small
      *ngIf="
        cAddRentForm.get('product').invalid &&
        cAddRentForm.get('product').touched
      "
      class="text-danger"
      >El nombre es requerido</small
    >
  </div>
  <br />
  <a> Agregar factura</a>
  <div class="col-md-12">
    <div class="col-md-6,imagenpro">
      <div class="pro-img-list-1">
        <div class="image-upload-1">
          <br />

          <img [src]="imageSrc" style="max-width: 300px; max-height: 300px" />

          <input
            name="imageUrl"
            type="file"
            accept="image/*"
            (change)="handleInputChangeImg($event)"
            formControlName="imageSrc"
          /><br />
          <small
            *ngIf="
              cAddRentForm.get('imageSrc').invalid &&
              cAddRentForm.get('imageSrc').touched
            "
            class="text-danger"
            >Es requerido</small
          ><br />
        </div>
      </div>
    </div>
  </div>

  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1"
      >Rectifique bien los datos antes de registar la venta
    </label>
  </div>
  <button
    (click)="clicksub()"
    [disabled]="cAddRentForm.invalid"
    type="submit"
    class="btn btn-primary"
    (click)="saveRent()"
  >
    Enviar abono
  </button>
</form>

<div
  bsModal
  #modalSuccess="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-static-name"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">
          {{ dataModal.title }}
        </h4>
        <button
          type="button"
          class="btn-close close pull-right"
          aria-label="Close"
          (click)="modalSuccess.hide()"
        >
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ dataModal.body }}
      </div>
    </div>
  </div>
</div>
