
<h1 class="title">AGREGAR PRODUCTOS</h1>
<div class="container bootdey">
  <div class="col-md-12">
    
    <section class="panel">
      <div class="panel-body" [formGroup]="productForm">
        <div class="row">
          <div class="col-md-6,imagenpro">
            <div class="pro-img-list-1">
              <div class="image-upload-1" >
                
                <img [src]="imageSrc"  style="max-width:300px;max-height:300px" /> 
              
                <input name="imageUrl" type="file" accept="image/*" (change)="handleInputChangeImg($event)" />
              
              </div>
            </div>
          </div>
          <div class="col-md-6,imagenpro">
            <div class="pro-img-list">
              <div class="image-upload">
                <img [src]="imageSrc" style="max-width:300px;max-height:300px"/>
                <input name="imageUrl" type="file" accept="image/*" (change)="handleInputChangeImg($event)" />
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <h4 class="pro-d-title">
            <a class="">
              <input
                type="text"
                name="tipro"
                placeholder="Titulo del producto"
                formControlName="name"
              />
            </a>
          </h4>
          <p>
            <input
              type="text"
              name="details"
              size=" 80px"
              placeholder="descripcion del producto "
              formControlName="description"
            />
          </p>
          <div class="product_meta">
            <label> Seleccione una categoria o agregue otra </label>
            <br />

            <div class="form-group col-md-4">
              <label for="Categoria">Seleccione una categoria </label>
              <select id="inputState" class="form-control" formControlName="category">
                <option selected>Selecciona...</option>
                <option>Mesones</option>
                <option>Cocinas</option>
                <option>Baños</option>
              </select>
              <br />
              <input type="text" name="otro" placeholder="otro" />
            </div>

            <br />

            <div class="form-group col-md-4">
              <label for="Categoria">Seleccione un material </label>

              <select id="inputState" class="form-control" formControlName="material">
                <option selected>Selecciona...</option>
                <option>Marmol</option>
                <option>quartzo</option>
                <option>granito</option>
              </select>
              <br />
              <input type="text" name="otro" placeholder="otro" />
            </div>
          </div>
          <br />
          <div class="precio">
            Precio :
            <input type="text" name="precio" placeholder="ingrese el precio"  formControlName="price"/>
          </div>
          <br />
          
          <br />
          <div class="form-group">
            <div>
              <br />
              Tono <br /><input type="color" name="tono" />
              <input
                type="text"
                name="colorexpe"
                placeholder="ingrese nombre completo del color"
                formControlName="color"
              />
              <br />
            </div>
            <label>Cantidad</label>
            <input
              type="quantiy"
              placeholder="1"
              class="form-control quantity"
              formControlName="amount"
            />
          </div>
          <p>
            <button class="btn btn-round btn-danger" type="button" (click)="saveProduct()">
              <i class="fa fa-shopping-cart"></i> {{isUpdate?'Actualizar': 'Agregar'}}
            </button>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
