
  <div class="col-1 text-center">

    <a class="text-center" routerLink="/dashboard/listproduct"  > 
    <img src="assets/img/flechatras.png" width="30%" height="60%"  >
  </a>
</div> 
<h1 class="title">AGREGAR PRODUCTOS</h1>
<div class="container bootdey">
  <div class="col-md-12">
    <section class="panel">
      <div class="panel-body" [formGroup]="productForm">
        <div class="col-md-12">
          <div class="product_meta">
            <label>TÍTULO DE PRODUCTO</label>

            <input
              class="form-control"
              type="text"
              name="tipro"
              placeholder="Título del producto"
              formControlName="name"
            />
            <small
              *ngIf="
                productForm.get('name').invalid &&
                productForm.get('name').touched
              "
              class="text-danger"
              >El tipo de material es requerido</small
            >
          </div>
        </div>
        <br />
        <div class="col-md-12">
          <label>DESCRIPCIÓN DE PRODUCTO</label>
          <input
            class="form-control"
            type="text"
            name="details"
            size=" 80px"
            placeholder="Descripcion del producto "
            formControlName="description"
          />
          <small
            *ngIf="
              productForm.get('description').invalid &&
              productForm.get('description').touched
            "
            class="text-danger"
            >El tipo de material es requerido</small
          >
        </div>

        <div class="col-md-12">
          <div class="product_meta">
            <label for="Categoria">SELECCIONE UNA CATEGORÍA </label>
            <select
              id="inputState"
              class="form-control"
              formControlName="category"
            >
              <option disabled selected>SELECCIONE UNA OPCIÓN</option>
              <option>HOSPEDAJE</option>
              <option>TOURS</option>
              <option>TRANSPORTE</option>
            </select>
            <small
              *ngIf="
                productForm.get('category').invalid &&
                productForm.get('category').touched
              "
              class="text-danger"
              >El tipo de material es requerido</small
            >

            <br />
            <input
              class="form-control"
              type="text"
              name="otro"
              placeholder="Otro"
            />
          </div>

          <div class="col-md-12">
            <label for="Categoria">SELECCIONE EL MATERIAL  </label>

            <select
              id="inputState"
              class="form-control"
              formControlName="material"
            >
              <option selected>SELECCIONA...</option>
              <option>Marmol</option>
              <option>Quartzo</option>
              <option>Granito</option>
            </select>
            <small
              *ngIf="
                productForm.get('material').invalid &&
                productForm.get('material').touched
              "
              class="text-danger"
              >El tipo de material es requerido</small
            >

            <br />
            <input
              class="form-control"
              type="text"
              name="otro"
              placeholder="Otro"
            />
          </div>

          <br />

          <div class="col-md-12">
            <div class="pomociones">
              <label>PROMOCIÓN</label>
              <br />
              <input
                class="form-control"
                type="text"
                name="promo"
                placeholder="Ingrese eel precio en promocion si no es promocion "
                formControlName="promo"
                value="Promocion"
              />
              <small
                *ngIf="
                  productForm.get('promo').invalid &&
                  productForm.get('promo').touched
                "
                class="text-danger"
                >El tipo de material es requerido</small
              >
            </div>
          </div>
          <br />
          
          <div class="col-md-12">
            <div class="precio">
              <label>PRECIO</label>
              <br />
              <input
                class="form-control"
                type="text"
                name="precio"
                placeholder="Ingrese el precio"
                formControlName="price"
              />
              <small
                *ngIf="
                  productForm.get('price').invalid &&
                  productForm.get('price').touched
                "
                class="text-danger"
                >El tipo de material es requerido</small
              >
            </div>
          </div>
          <br />
          <div class="col-md-12">
            <label for="Categoria">SELECCIONE UN COLOR </label>

            <select
              id="inputState"
              class="form-control"
              formControlName="color"
            >
              <option selected>SELECCIONA...</option>
              <option>Azul</option>
              <option>Blanco chispa</option>
              <option>Hueso</option>
              <small
                *ngIf="
                  productForm.get('color').invalid &&
                  productForm.get('color').touched
                "
                class="text-danger"
                >El tipo de material es requerido</small
              >
            </select>
          </div>

          <br />
          <div class="col-md-12">
            <label>CANTIDAD</label>
            <input
              class="form-control"
              type="quantiy"
              placeholder="1"
              class="form-control quantity"
              formControlName="amount"
            />
            <small
              *ngIf="
                productForm.get('amount').invalid &&
                productForm.get('amount').touched
              "
              class="text-danger"
              >El tipo de material es requerido</small
            >
          </div>
          <br />
          <div class="col-md-12">
            <div class="col-md-6,imagenpro">
              <div class="pro-img-list-1">
                <div class="image-upload-1">
                  <img
                    [src]="imageSrc"
                    style="max-width: 300px; max-height: 300px"
                  />

                  <input
                    name="imageUrl"
                    type="file"
                    accept="image/*"
                    (change)="handleInputChangeImg($event)"
                  />
                  <small
                    *ngIf="
                      productForm.get('image').invalid &&
                      productForm.get('image').touched
                    "
                    class="text-danger"
                    >El tipo de material es requerido</small
                  >
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="col-md-12">
            <div class="col-md-6,imagenpro2">
              <div class="pro-img-list-2">
                <div class="image-upload-2">
                  <img
                    [src]="imageSrc2"
                    style="max-width: 300px; max-height: 300px"
                  />

                  <input
                    name="imageUrl"
                    type="file"
                    accept="image2/*"
                    (change)="handleInputChangeImg2($event)"
                  />
                  <small
                    *ngIf="
                      productForm.get('image2').invalid &&
                      productForm.get('image2').touched
                    "
                    class="text-danger"
                    >El tipo de material es requerido</small
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <p>
              <button
                
                [disabled]="productForm.invalid"
                class="btn btn-round btn-danger"
                type="button"
                (click)="saveProduct()"
              >
                <i class="fa fa-shopping-cart"></i>
                {{ isUpdate ? "Actualizar" : "Agregar" }}
              </button>
            </p>
          </div>
        </div>
      </div>

      <div
        bsModal
        #modalSuccess="bs-modal"
        class="modal fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="dialog-static-name"
      >
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 id="dialog-static-name" class="modal-title pull-left">
                {{ dataModal.title }}
              </h4>
              <button
                type="button"
                class="btn-close close pull-right"
                aria-label="Close"
                (click)="modalSuccess.hide()"
              >
                <span aria-hidden="true" class="visually-hidden">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{ dataModal.body }}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
