<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/img/MarmolMendoza.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
     

      <form [formGroup]="resetForm">
        <input 
          type="password"  
          id="login" 
          class="fadeIn second" 
          name="login" 
          placeholder="Contraseña nueva"
          minlength="5"
          maxlength="30"
          formControlName="password"
          required >
       
      
          
       <!--validaciones js-->
      
        <button type="button" class="btn btn-outline-primary" (click)="reset()" [disabled]="resetForm.invalid">Recuperar</button>
       
      </form>
  
     

      <!-- Remind Passowrd -->
      
  
    </div>
  </div>