<div class="row">
    <div class="col-1 text-center">
  
      <a class="text-center" routerLink="/dashboard/clientrent"  > 
      <img src="assets/img/flechatras.png" width="30%" height="60%"  >
    </a>
  </div> 
  </div> 
  
      <div class="container  ">
        <div class="row">
        <div class="col-md-6 " >
          <div class="product-wrapper  ">
            <div class="help" >
              <span >
                <img src="assets/img/MarmolMendoza.png" width="50px" />
              </span>
            <h3>Buscar</h3>
            <P>En la parte de arriba de la tabla encontraras una barra de busqueda, esta filtra por nombre del producto. 
            </P>         
          </div>
          </div>
        </div>
      
        <div class="col-6" >
          <div class="product-wrapper  ">
            <div class="help" >
              
              <span >
                <img src="assets/img/MarmolMendoza.png" width="50px" />
              </span>
            <h3>Agregar un nuevo abono</h3>
            <P>Al lado de la barra de busqueda veras un botón "+", este te permitira agregar un nuevo 
                abono.</P>         
          </div>
          </div>
        </div> 
      
      </div>