<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/img/MarmolMendoza.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
     

      <form [formGroup]="lostForm">
        <input 
          type="text"  
          id="login" 
          class="fadeIn second" 
          name="login" 
          placeholder="Correo"
          minlength="5"
          maxlength="30"
          formControlName="email"
          required >
       
      
          
       <!--validaciones js-->
      
        <button type="button" class="btn btn-outline-primary" (click)="lost()" [disabled]="lostForm.invalid">Recuperar</button>
       
      </form>
  
     

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="/client/login">Tienes cuenta? Inicia seccion</a>
      </div>
  
    </div>
  </div>