<div class="info">
    <H1>QUIÉNES SOMOS </H1>
    <div
  class="container"
  
    >
<div class="row">
    <div class="col-md-4"  style="background-color:rgb(255, 255, 255)">
      <h1>Encuéntranos</h1> 
      <img
              src="assets/img/sede.jpg"
              alt=""
            />
      <h5><b>Medellín, Antioquia 74a2 Cl. 104.</b></h5>
    </div>
    <div class="col-md-4"  style="background-color:rgb(221, 221, 221)">
      <h1>Personal</h1>
      <img class="imginfo"
              src="assets/img/Andres.jpeg"
            /> 
      <b>Andres Mendoza Orozco</b>
      <p>NUESTRO JEFE Y NUESTRO PERSONAL NOS COMPROMETEMOS HACER
        Y ENTREGAR NUESTRO PRODUCTOS A NIVEL NACIONAL LLEVANDO LA MEJOR CALIDAD
        Y PUNTUALIDAD A LA HORA DE ENTREGA DE PRODUCTO.
      </p>
    </div>
    <div class="col-md-4"  style="background-color:rgb(255, 255, 255)">
      <h1>Columna 3</h1> 
      <p>Esto es una prueba de bootstrap.</p>
    </div>
  </div>
</div>  


</div>
<div class="text">
  <H6>LA EMPRESA MARMOLES MENDOZA, FUNDADA HACE SEIS, AÑOS SE DEDICA A LA VENTA Y DISTRIBUCIÓN DE 
      MÁRMOL Y COCINAS CUYO PROPIETARIO ES EL SEÑOR ANDRÉS MENDOZA, SE ESPECIALIZA EN EL MONTAJE DE MESONES 
      DE MÁRMOL Y COCINAS INTEGRALES, SIN EMBARGO, EL SERVICIO GENERAL ES LA VENTA DE MÁRMOL Y SUS DIFERENTES 
      APLICACIONES CONTANDO CON UNA SEDE LOCALIZADA EN LA CIUDAD DE MEDELLÍN BARRIO PEDREGAL, EL CUAL TAMBIÉN ES 
      EL PUNTO DE FABRICACIÓN, ACTUALMENTE PRESTAMOS SERVICIOS EN CUALQUIER CIUDAD.
   </H6>
  </div>

