<div class="row">
    <div class="col-1 text-center">
  
      <a class="text-center" routerLink="/dashboard/clientsale"  > 
      <img src="assets/img/flechatras.png" width="30%" height="60%"  >
    </a>
  </div> 
  </div> 
  
      <div class="container  ">
        <div class="row">
        <div class="col-md-6 " >
          <div class="product-wrapper  ">
            <div class="help" >
              <span >
                <img src="assets/img/MarmolMendoza.png" width="50px" />
              </span>
            <h3>Buscar</h3>
            <P>En la parte de arriba de la tabla encontraras una barra de busqueda, esta filtra por nombre del producto. 
            </P>         
          </div>
          </div>
        </div>

          <div class="col-6" >
            <div class="product-wrapper  ">
              <div class="help" >
                
                <span >
                  <img src="assets/img/MarmolMendoza.png" width="50px" />
                </span>
              <h3>Editar una compra</h3>
              <P>Al lado derecho de la tambla encontraras un símbolo,
                 es para edita, esta función te 
                 permitiran editar una compra.</P>         
            </div>
            </div>
          </div> 

         


        </div>
      