<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/img/MarmolMendoza.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
     

      <form [formGroup]="loginForm">
        <input 
          type="text"  
          id="login" 
          class="fadeIn second" 
          name="login" 
          placeholder="Correo"
          formControlName="email"
          required >
       
        <input 
          type="password" 
          id="password" 
          class="fadeIn third" 
          name="login" 
          placeholder="Contraseña"
          formControlName="password"
          >
      
          
       <!--validaciones js-->
      
        <button type="button" class="btn btn-outline-primary" (click)="loguear()" [disabled]="loginForm.invalid">Iniciar sesion</button>
        <button type="button" class="btn btn-outline-primary" routerLink="/registro" >Registro</button>
      </form>
  
     

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Olvidaste tu Contraseña</a>
      </div>
  
    </div>
  </div>