<div class="row">
  <div class="col-1 text-center">

    <a class="text-center" routerLink="/client/home"  > 
    <img src="assets/img/flechatras.png" width="30%" height="60%"  >
  </a>
</div> 
</div> 

    <div class="container">
      <div class="row">
      <div class="col-6" >
        <div class="product-wrapper  ">
          <div class="join" >
            
            <span >
              <img src="assets/img/MarmolMendoza.png" width="50px" />
            </span>
          <h3>Como registrarse</h3> <br>
          <P>En la parte superior derecha aparece un simbolo de usuario da click en el y posterirormente lo llevara a la pantalla de 
            inicio de sesión, abajo de los campos de informacion aparece un botón "Registrarse", da click y llena el formulario
            con tus datos.
          </P>         
        </div>
        </div>
      </div>
   
    </div>