<div class="container ">
    <div class="row">
    <div class="col-md-6" >
      <div class="product-wrapper  text-center">
        <div class="product-img">
          
          <span class="text-center">
            <img src="assets/img/MarmolMendoza.png" width="50px" />
          </span>
        <h2>Como registrarse </h2> 
        <P>para iniciar seccion darle clic en el icono de la presona al lado izquierdo</P>         
      </div>
      </div>
    </div>
  
    <div class="col-md-6" >
      <div class="product-wrapper  text-center">
        <div class="product-img">
          
          <span class="text-center">
            <img src="assets/img/MarmolMendoza.png" width="50px" />
          </span>
        <h2>TITULO  </h2> 
        <P>descripcion de la ayuda</P>         
      </div>
      </div>
    </div> 

    
    
    <div class="col-md-6 " >
      <div class="product-wrapper  text-center">
        <div class="product-img">
          
          <span class="text-center">
            <img src="assets/img/MarmolMendoza.png" width="50px" />
          </span>
        <h2>TITULO  </h2> 
        <P>descripcion de la ayuda</P>         
      </div>
      </div>
    </div>
  </div>
    
  
  
  </div>