<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/img/MarmolMendoza.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="name" class="fadeIn one" name="login" placeholder="Nombre">
        
        <input type="text" id="login" class="fadeIn two" name="login" placeholder="Correo">
        <input type="text" id="password" class="fadeIn three" name="login" placeholder="Contraseña">
        <br> 
        <input type="text" id="passwordreapeat" class="fadeIn  fourth" name="login" placeholder="Ingrese de nuevo la Contraseña">
        <input type="text" id="cedula" class="fadeIn  five" name="login" placeholder="Cedula">
        <input type="text" id="celular" class="fadeIn  six" name="login" placeholder="Celular">
        <input type="text" id="direccion" class="fadeIn  seven" name="login" placeholder="Direccion">
        <input type="text" id="ciudad" class="fadeIn  eight" name="login" placeholder="Ciudad">
        <input type="text" id="postal" class="fadeIn  nine" name="login" placeholder="Numero Postal" minlength="4" maxlength="10">
        
        
        
        <input type="submit" class="fadeIn  ten" value="Registrarse">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="/login">Tienes una cuenta, Inicia seccion </a>
      </div>
  
    </div>
  </div>
  