<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 logo-footer">
        <img src="assets/img/MarmolMendoza.png" alt="image">
    </div>
    <div class="col-md-4">
      <ul>
        <li routerLink="/info" >Quienes somos</li>
        <li routerLink="/inicio">Contacto</li>
        <li>Trabaja con nosotros</li>
        <li>Proveedores</li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li>Politicas de privacidad</li>
        <li>Protocolo de Biosegidad</li>
        <li>Metodos de pago</li>
        <li>Preguntas frecuentes</li>
      </ul>
    </div>
  </div>
</div>
