<div class="container-fluid">

  <div class="row">
    <div class="col-md-1"> 
      <a routerLink="/client/home"  > 
      <img src="assets/img/flechatras.png" width="30%" height="60%"  >
    </a>
  </div>  
  </div>
  <br>
  <div class="row">
    <div class="col-6">
      
     <div class="image">
      <img
        class="img zoom"
        [src]="product.image"
        width="100%"
        height="50%"
      />
    </div>
    <div class="image">
      <img
        class="img zoom"
        [src]="product.image2"
        width="100%"
        height="50%"
      />
    </div>
    </div>

    <div class="col-6 title">
      <div class="row mt-6">
        <div class="col-12 col-md-8 mx-auto">
          <form [formGroup]="SaleForm">
            <div class="col">
              <h1>{{product.name}}</h1>
            </div>
            <div class="col">
              <h4>ESPECIFICACIONES</h4>
            </div>
            <div class="col">
              <P>{{product.description}}</P>
            </div>
            <div class="col">
              <h2>{{product.promo}}</h2>
            </div>
            <div class="col">
              <h3>COTIZA YA</h3>
              <a routerLink="/login">INICIA SESION</a>
              <p>CONTACTANOS:3012023525 </p>
            </div>
            <div class="form-row"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
