


<div class="row bg-white">
  <div class="col-12 d-flex justify-content-center my-5" *ngIf="!product">
    <app-spinner size="100"></app-spinner>
  </div>
</div>


  
  

<div class="row">
  <div class="col-md-1 text-center">

    <a class="text-center" routerLink="/client/home"  > 
    <img src="assets/img/flechatras.png" width="30%" height="60%"  >
  </a>
</div> 
</div> 

<div class="title">
  <h1>COCINAS A TU MEDIDA</h1>
</div>

<div class="row">
  <div class="col-md-2 text-center" >

    <input
    class="form-control mr-sm-2 text-center"
    type="text"
    [(ngModel)]="name"
    (ngModelChange)="SearchKitchens()"
    placeholder="Buscar"
    aria-label="Buscar"
    width="80%"
    height="80%"
    />
    </div>
    <div class="container ">
      
    <div class="col-md-4" *ngFor="let product of product">
      <div class="product-wrapper mb-45 text-center">
        <div class="product-img">
          <a data-abc="true" (click)="redirect(product)">
            <img [src]="product.image" width="100%" height="100%" />
          </a>
          <span class="text-center">
            <img src="assets/img/MarmolMendoza.png" width="50px" />
          </span>
          <div class="product-action">
            <div class="product-action-style">{{ product.name }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>


