<div class="container-fluid">
    <div class="row">
      
    </div>
    <div class="row">
      <div class="col-md-4 cocinas">
        <img
          src="https://p4.wallpaperbetter.com/wallpaper/343/808/64/design-style-lamp-furniture-wallpaper-preview.jpg  "
          alt=""
        />
      </div>
      <div class="col-md-4 mesones">
        <img
          src="https://c4.wallpaperflare.com/wallpaper/168/211/612/blanco-cocina-interior-moderna-wallpaper-preview.jpg"
          alt=""
        />
      </div>
      <div class="col-md-4 baños">
        <img src="https://i.pinimg.com/originals/16/bc/b9/16bcb98d37cb9216b08c9c500b2a4153.jpg" />
  
      </div>
      <div>
          <br>
      </div>
    </div>
  </div>
  