
.logo{
    text-align: center;
    img {
            
        text-align: center;
        width: 200px;
        
    }
    

}

.container-fluid {
    
    ul {
        list-style: none;
    }
    .logo-productos {
        align-content: center;
        
        text-align: center;
      
    }
    
}