<div class="row">
    <div class="col-1 text-center">
  
      <a class="text-center" routerLink="/dashboard/valueclient"  > 
      <img src="assets/img/flechatras.png" width="30%" height="60%"  >
    </a>
  </div> 
  </div> 
  
      <div class="container  ">
        <div class="row">
        <div class="col-md-6 " >
          <div class="product-wrapper  ">
            <div class="help" >
              <span >
                <img src="assets/img/MarmolMendoza.png" width="50px" />
              </span>
            <h3>Buscar</h3>
            <P>En la parte de arriba de la tabla encontraras una barra de busqueda, esta filtra por nombre del producto. 
            </P>         
          </div>
          </div>
        </div>
      
        <div class="col-6" >
          <div class="product-wrapper  ">
            <div class="help" >
              
              <span >
                <img src="assets/img/MarmolMendoza.png" width="50px" />
              </span>
            <h3>Agregar una nueva cotización</h3>
            <P>Al lado de la barra de busqueda veras un botón "+", este te permitira agregar una nueva cotización.</P>         
          </div>
          </div>
        </div> 
  
          <div class="row">
            <div class="col-6" >
              <div class="product-wrapper  ">
                <div class="help" >
                  
                  <span >
                    <img src="assets/img/MarmolMendoza.png" width="50px" />
                  </span>
                  <h3>Ver o editar</h3>
                  <P>Al lado derecho de la tabla encontraras la columna de ver o editar, en ella encontraras dos símbolos,
                    uno para ver y otro para editar, éstas funciones te permitiran ver o editar una cotización.</P>         
              </div>
              </div>
            </div>               
            </div>
        </div>
    