

<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> LISTA DE PRODUCTOS</h4>
          <form class="form-inline ml-auto">
            <input
              class="form-control mr-sm-2"
              type="text"
              name="Nombre"
              [(ngModel)]="name"
              (ngModelChange)="Search()"
              placeholder="Buscar"
              aria-label="Buscar"
            />
            
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Buscar
            </button>

            <button class="btn btn-outline-success my-2 my-sm-0 agregar" type="submit" routerLink="/dashboard/product"  >
               +
            </button>
            

          </form>
        </div>
        <div class="card-body">
          <div class="table">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  NOMBRE
                </th>
                <th>
                  TIPO
                </th>
                <th>
                  COLOR
                </th>
                <th>
                  MATERIAL
                </th>
                <th>
                  PROMOCIÓN
                </th>
                <th class="text-right">
                  COSTO
                </th>
                <th class="text-right">
                  ACCIONES
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let product of products">
                  <td>
                    {{ product.name }}
                  </td>
                  <td>
                    {{ product.category }}
                  </td>
                  <td>
                    {{ product.color }}
                  </td>
                  <td>
                    {{ product.material }}
                  </td>
                  <td>
                    {{ product.promo }}
                  </td>
                  
                  <td class="text-right">
                    {{ product.price }}
                  </td>
                  <td class="text-right">
                    <label class="switch">
                      <input type="checkbox" [checked]="product.active"   (change)="activechange(product,$event)">
                      <span class="slider round"></span>
                    </label>
                    <span (click)="editProduct(product)"><i class="fas fa-edit"></i> </span>
                    <span (click)="deleteProduct(product)" > <i class="fas fa-trash" ></i> </span>
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  