<div class="container bootdey">
  <div class="col-md-12">
  <section class="panel">
        <div class="panel-body">
            <div class="col-md-6">
                <div class="pro-img-details">
                    <img src="https://static9.depositphotos.com/1707776/1182/i/600/depositphotos_11827497-stock-photo-image-of-black-marble-stone.jpg" alt="">
                </div>
                <div class="pro-img-list">
                    <a href="#">
                      <input type="file" name="adjunto" accept=".pdf,.jpg,.png" multiple />
                    </a>
                    <a href="#">
                      <input type="file" name="adjunto" accept=".pdf,.jpg,.png" multiple />
                    </a>
                    <a href="#">
                      <input type="file" name="adjunto" accept=".pdf,.jpg,.png" multiple />
                    </a>
                    <a href="#">
                      <input type="file" name="adjunto" accept=".pdf,.jpg,.png" multiple  />
                    </a>
                </div>
            </div>
            
            <div class="col-md-6">
                <h4 class="pro-d-title">
                    <a  class=" ">
                       <input type="text" name ="tipro" placeholder="Titulo del producto">

                    </a>
                </h4>
                <p>
                   <input type="text" name="details" size=" 80px" placeholder="descripcion del producto ">
                </p>
                <div class="product_meta">
                  <label > Seleccione una categoria o agregue otra </label>
                  <br>
             
                  <div class="form-group col-md-4">
                    <label for="Categoria">Seleccione una categoria </label>
                    <select id="inputState" class="form-control">
                      <option selected>Selecciona...</option>
                      <option>Mesones</option>
                      <option>Cocinas</option>
                      <option>Baños </option>

                    </select>
                    <br>
                    <input type="text" name="otro"  placeholder="otro">
                  </div>

                  <br>
                  
                    
               
                    <div class="form-group col-md-4">
                      <label for="Categoria">Seleccione un material </label>
                      
                      <select id="inputState" class="form-control">
                        <option selected>Selecciona...</option>
                        <option>Marmol</option>
                        <option>quartzo</option>
                        <option>granito </option>
  
                      </select>
                      <br>
                      <input type="text" name="otro"  placeholder="otro">
                    </div>    
                </div>
                <br>
                <div class="precio"> Precio :  <input type="text" name="precio" placeholder="ingrese el precio" > </div>
                <br>
                <div class="ciudad"> Ciudad :  <input type="text" name="Ciudad" placeholder="ingrese la ciudad" > </div>
                <br>
                <div class="form-group">
                  <div> <br> Tono <br><input type="color" name="tono">   <input type="text" name="colorexpe" placeholder="ingrese nombre completo del color"> <br> </div>
                    <label>Cantidad</label>
                    <input type="quantiy" placeholder="1" class="form-control quantity">
                </div>
                <p>
                    <button class="btn btn-round btn-danger" type="button"><i class="fa fa-shopping-cart"></i> Agregar producto </button>
                </p>
            </div>
        </div>
    </section>
    </div>
    </div>