<div class="row">
    <div class="col-1 text-center">
  
      <a class="text-center" routerLink="/dashboard/sales"  > 
      <img src="assets/img/flechatras.png" width="30%" height="60%"  >
    </a>
  </div> 
  </div> 
  
      <div class="container  ">
        <div class="row">
        <div class="col-6 " >
          <div class="product-wrapper  ">
            <div class="help" >
              <span >
                <img src="assets/img/MarmolMendoza.png" width="50px" />
              </span>
            <h3>Buscar</h3> <br>
            <P>En la parte de arriba de la tabla encontraras una barra de busqueda, esta filtra por nombre. 
            </P>         
          </div>
          </div>
        </div>
      
        <div class="col-6" >
          <div class="product-wrapper  ">
            <div class="help" >
              
              <span >
                <img src="assets/img/MarmolMendoza.png" width="50px" />
              </span>
            <h4>Agregar una nueva venta</h4> <br>
            <P>Al lado de la barra de busqueda veras un botón "+", este te permitira agregar una nueva venta.</P>         
          </div>
          </div>
        </div> 
        
        <div class="row">
          <div class="col-6" >
            <div class="product-wrapper  ">
              <div class="help" >
                
                <span >
                  <img src="assets/img/MarmolMendoza.png" width="50px" />
                </span>
              <h4>Editar o eliminar una venta</h4> <br>
              <P>Al lado izquiero de la tambla encontraras dos símbolos,
                 uno para editar y otro para eliminar, éstas funciones te permitiran editar o eliminar una venta.</P>         
            </div>
            </div>
          </div> 
        </div>
      
      
      </div>