<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/img/logohorizont.jpg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
     

      <form [formGroup]="lostForm">
        <input 
          type="text"  
          id="login" 
          class="fadeIn second" 
          name="login" 
          placeholder="Correo"
          minlength="5"
          maxlength="30"
          formControlName="email"
          required >
       
      
          
       <!--validaciones js-->
      
        <button type="button" class="btn btn-outline-primary" (click)="lost()" [disabled]="lostForm.invalid">Recuperar</button>
       
      </form>
  
     

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="/login">Tienes cuenta? Inicia seccion</a>
      </div>
  
    </div>
  </div>

  <div
        bsModal
        #modalSuccess="bs-modal"
        class="modal fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="dialog-static-name"
      >
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 id="dialog-static-name" class="modal-title pull-left">
                {{ dataModal.title }}
              </h4>
              <button
                type="button"
                class="btn-close close pull-right"
                aria-label="Close"
                (click)="modalSuccess.hide()"
              >
                <span aria-hidden="true" class="visually-hidden">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{ dataModal.body }}
            </div>
          </div>
        </div>
      </div>
