<div class="row">
  <div class="col-1 text-center">

    <a class="text-center" routerLink="/client/home"  > 
    <img src="assets/img/flechatras.png" width="30%" height="60%"  >
  </a>
</div> 
</div> 

    <div class="container  ">
      <div class="row">
      <div class="col-6" >
        <div class="product-wrapper  ">
          <div class="help" >
            
            <span >
              <img src="assets/img/MarmolMendoza.png" width="50px" />
            </span>
          <h3>Creditos</h3> <br>
          <P>En la parte superior derecha aparece un simbolo de usuario da click en el y posterirormente lo llevara a la pantalla de 
            inicio de sesión digita tu correo y contraseña ya creados.
          </P>         
        </div>
        </div>
      </div>
    
      <div class="col-6" >
        <div class="product-wrapper  ">
          <div class="help" >
            
            <span >
              <img src="assets/img/MarmolMendoza.png" width="50px" />
            </span>
          <h3>Como cotizar</h3> <br>
          <P>Para cotizar el producto, tendra la opción de llevarlo a la cotización iniciando sesión que lo llevara a la 
            dashboard, en la parte izquierda encontrara el apartado de cotizaciones el cual debera llenar con los 
          datos que se le solicitan.</P>         
        </div>
        </div>
      </div> 
    
    
    </div>