<h1 class="h1">AGREGAR USUARIOS</h1>

<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Nombre</label>
      <input type="text" class="form-control" id="exampleInputEmail1"  placeholder="Ingrese nombre completo">
      <small id="emailHelp" class="form-text text-muted">Nombre de la empresa o del cliente.</small>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresar email">
 
      </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Cedula</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Cedula">
        <small id="emailHelp" class="form-text text-muted">Cuidado con este numero se consulta esta venta.</small>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese la Contraseña ">
        <small id="emailHelp" class="form-text text-muted">Cuidado ingrese el valor correcto.</small>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Celular</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ingrese el celular o telefono ">
        <small id="emailHelp" class="form-text text-muted">Cuidado ingrese el numero bien </small>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Direccion</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ingrese la direccion ">
        <small id="emailHelp" class="form-text text-muted">En caso de ser empresa </small>
      </div>

     


    <div class="form-group ">
        <label for="Ciudad">Tipo de usuario </label>
        
        <select id="inputState" class="form-control">
          <option selected>Cliente</option>
          <option>Administrador</option>
        </select>
        </div>
    
  
      
      <div class="form-group ">
        <label for="Ciudad">Ciudad </label>
        
        <select id="inputState" class="form-control">
          <option selected>Selecciona...</option>
          <option>Medellin</option>
          <option>Cali</option>
          <option>Bogota </option>

        </select>
        </div>

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Rectifique bien los datos antes de agregar el usuario </label>
    </div>
    <button type="submit" class="btn btn-primary">Agregar usuario</button>
  </form>