<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <img
      src="assets/img/MarmolMendoza.png"
      class="logo mr-auto"
      routerLink="/inicio"
    />
    <ul class="navbar-nav items">
      <li class="nav-item dropdown">
        
       
        <span dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()">
            <a href id="basic-link" dropdownToggle (click)="false"
               aria-controls="basic-link-dropdown" class="nav-link dropdown-toggle"
               id="navbarDropdownMenuLink"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">PRODUCTOS</a>
            <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="basic-link">
              <li *ngFor="let choice of items">
                <a class="dropdown-item" href="#" [routerLink]="['/productos', choice]">{{choice}}</a>
              </li>
            </ul>
          </span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MANTENIMIENTO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">QUIENES SOMOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACTANOS</a>
      </li>
    </ul>
    <form class="form-inline ml-auto">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Buscar"
        aria-label="Buscar"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Buscar
      </button>
    </form>
    <img  class="user"
    src="assets/img/usuario.png" 
    routerLink="/login"
    >
    <img class="carro"
     src="assets/img/carrocompra.png" 
    routerLink="/sale"
    >
  </nav>

  <!-- <div class="nav">
    <nav>
      <div class="barra">
        <img
          src="assets/img/MarmolMendoza.png"
          class="logo"
          style="position: relative"
        />
      </div>
    </nav>
  </div> -->
</div>
