<h1 class="h1">{{isUpdate?'EDITAR USUARIO': 'AGREGAR USUARIO'}}</h1>

<form [formGroup]="userForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      placeholder="Ingrese nombre completo"
      formControlName="name"
    />
    <small id="emailHelp" class="form-text text-muted"
      >Nombre de la empresa o del cliente.</small
    >
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Ingresar email"
      formControlName="email"
    />
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Cedula</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Cedula"
      formControlName="document"
    />
    <small id="emailHelp" class="form-text text-muted"
      >Cuidado con este número se consulta esta venta.</small
    >
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Contraseña</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Ingrese la Contraseña "
      formControlName="password"
    />
    <small id="emailHelp" class="form-text text-muted"
      >Cuidado, ingrese el valor correcto.</small
    >
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Celular</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Ingrese el celular o teléfono "
      formControlName="phone"
    />
    <small id="emailHelp" class="form-text text-muted"
      >Cuidado, ingrese el número bien
    </small>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Dirección</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Ingrese la dirección "
      formControlName="address"
    />
    <small id="emailHelp" class="form-text text-muted"
      >En caso de ser empresa
    </small>
  </div>
  

  <div class="form-group">
    <label for="Ciudad">Tipo de usuario </label>

    <select id="inputState" class="form-control"  formControlName="role">
      <option disabled selected>Selecciona una opción</option>
      <option selected value="CLIENT">Cliente</option>
      <option value="ADMIN">Administrador</option>
    </select>
  </div>

  <div class="form-group">
    <label for="Ciudad">Ciudad </label>

    <select id="inputState" class="form-control"  formControlName="city">
      <option disabled selected>Selecciona una opción</option>
      <option>Medellín</option>
      <option>Cali</option>
      <option>Bogotá</option>
    </select>
  </div>

  <div class="form-check">
    
    <label class="form-check-label" for="exampleCheck1"
      >Rectifique bien los datos antes de agregar el usuario
    </label>
  </div>
  <button type="submit" class="btn btn-primary" (click)="saveUser()">{{isUpdate?'EDITAR USUARIO': 'AGREGAR USUARIO'}}</button>
</form>

<div bsModal #modalSuccess="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">{{dataModal.title}}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalSuccess.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       {{dataModal.body}}
      </div>
    </div>
  </div>
</div>
