<h1 class="h1">{{isUpdate?'EDITAR VENTA': 'AGREGAR VENTA'}}</h1>

<form [formGroup]="saleForm" >
  <div class="form-group" id="page">
    <label for="exampleInputEmail1">NOMBRE</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      placeholder="Ingrese nombre completo"
      formControlName="name"
    />
    <small *ngIf="saleForm.get('name').invalid && saleForm.get('name').touched" class="text-danger">El nombre es requerido</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">PRODUCTO</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      placeholder="Ingrese nombre completo"
      formControlName="nameproduct"
    />
    <small *ngIf="saleForm.get('nameproduct').invalid && saleForm.get('nameproduct').touched" class="text-danger">El nombre de producto es requerido</small>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">EMAIL</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Ingresar email"
      formControlName="email"
    />
    <small *ngIf="saleForm.get('email').invalid && saleForm.get('email').touched" class="text-danger">El email es requerido</small>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">CEDULA</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Cedula"
      formControlName="document"
      minlength="3"
      maxlength="13"
      required
    />
    <small *ngIf="saleForm.get('document').invalid && saleForm.get('document').touched" class="text-danger">El documento es requerido</small>
    <small id="emailHelp" class="form-text text-muted"
      >CUIDADO CON ESTE NÚMERO SE CONSULTA ESTA VENTA</small
    >
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">PRECIO</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Precio "
      formControlName="price"
    />
    <small *ngIf="saleForm.get('price').invalid && saleForm.get('price').touched" class="text-danger">El precio es requerido</small>
    <small id="emailHelp" class="form-text text-muted"
      >CUIDADO, INGRESE EL VALOR CORRECTO.</small
    >
  </div>

  <div class="form-group">
    <label for="Ciudad">SELECCIONE LA CIUDAD </label>

    <select id="inputState" class="form-control" formControlName="city">
      <option disabled selected>SELECCIONE UNA OPCIÓN</option>
      <option>MEDELLÍN</option>
      <option>BOGOTÁ</option>
      <option>CALI</option>
    </select>
    <small *ngIf="saleForm.get('city').invalid && saleForm.get('city').touched" class="text-danger">La ciudad es requerida</small>
  </div>

  <div class="form-group">
    <label for="Ciudad">SELECCIONE TIPO DE PRODUCTO </label>

    <select id="inputState" class="form-control" formControlName="product">
      <option disabled selected>SELECCIONE UNA OPCIÓN</option>
      <option>MESON</option>
      <option>COCINA</option>
      <option>BAÑO</option>
    </select>
    <small *ngIf="saleForm.get('product').invalid && saleForm.get('product').touched" class="text-danger">La ciudad es requerida</small>

  </div>

  <div class="form-check">
    <label class="form-check-label" for="exampleCheck1"
      >RECTIFIQUE BIEN LOS DATOS ANTES DE REGISTRAR LA VENTA
    </label>  
  </div>
  <button  [disabled]="saleForm.invalid" type="submit" class="btn btn-primary" (click)="saveSale()">
    {{isUpdate?'EDITAR VENTA': 'AGREGAR VENTA'}}
  </button><br>
  <input type="button" onclick="printDiv('page')" value="Ver factura" />
<div bsModal #modalSuccess="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">{{dataModal.title}}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalSuccess.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       {{dataModal.body}}
      </div>
    </div>
  </div>
</div>
