<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/img/MarmolMendoza.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
     

      <form [formGroup]="loginForm">
        <input 
          type="text"  
          id="login" 
          class="fadeIn second" 
          name="login" 
          placeholder="Correo"
          minlength="5"
          maxlength="30"
          formControlName="email"
          required >
       
        <input 
          type="password" 
          id="password" 
          class="fadeIn third" 
          name="login" 
          placeholder="Contraseña"
          formControlName="password"
          >
      
          
       <!--validaciones js-->
      
        <button type="button" class="btn btn-outline-primary" (click)="loguear()" [disabled]="loginForm.invalid">Iniciar sesion</button>
        <button type="button" class="btn btn-outline-primary"   routerLink="/login/register">Registrar</button>
      </form>
  
     

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="/login/reset">Olvidaste tu Contraseña</a>
      </div>
  
    </div>
  </div>

  <div
  bsModal
  #modalSuccess="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-static-name"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">
          {{ dataModal.title }}
        </h4>
        <button
          type="button"
          class="btn-close close pull-right"
          aria-label="Close"
          (click)="modal.hide()"
        >
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ dataModal.body }}
      </div>
    </div>
  </div>
</div>