<div class="info">
    <H1>QUIENES SOMOS </H1>
<H6>LA EMPRESA MARMOLES MENDOZA, FUNDADA HACE SEIS, AÑOS SE DEDICA A LA VENTA Y DISTRIBUCIÓN DE 
    MÁRMOL Y COCINAS CUYO PROPIETARIO ES EL SEÑOR ANDRÉS MENDOZA, SE ESPECIALIZA EN EL MONTAJE DE MESONES 
    DE MÁRMOL Y COCINAS INTEGRALES, SIN EMBARGO, EL SERVICIO GENERAL ES LA VENTA DE MÁRMOL Y SUS DIFERENTES 
    APLICACIONES CONTANDO CON UNA SEDE LOCALIZADA EN LA CIUDAD DE MEDELLÍN BARRIO PEDREGAL, EL CUAL TAMBIÉN ES 
    EL PUNTO DE FABRICACIÓN, ACTUALMENTE PRESTAMOS SERVICIOS EN CUALQUIER CIUDAD.
 </H6>
</div>
