.info{
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container{
    text-align: center;  
    height: 80%;
    justify-content: relative;
}

.text{
    text-align: center;
    padding: 5%;

}

.imginfo {
    width: 100%; height: 50%;
}