<h1 class="h1">ABONOS</h1>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"></h4>
        <form class="form-inline ml-auto">
          <input
            class="form-control mr-sm-2"
            type="text"
            name="Nombre"
            [(ngModel)]="nameproduct"
            (ngModelChange)="Search()"
            placeholder="Buscar"
            aria-label="Buscar"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Buscar
          </button>
          <button
          class="btn btn-outline-success my-2 my-sm-0 agregar"
          type="submit"
          routerLink="/dashboard/clientaddrent"
        >
          +
        </button>
        </form>
      </div>

      <div class="card-body">
        <div class="table">
          <table class="table">
            <thead class="text-primary">
              <th>Producto</th>
              <th>Tipo</th>
              <th>Abonos</th>
              <th class="text-right">Abonar</th>
              <th class="text-right">Precio</th>
            </thead>
            <tbody>
              <tr *ngFor="let rent of rent">
                <td>
                    {{ rent.nameproduct }}
                  </td>
                <td>
                  {{ rent.product }}
                </td>
                <td>
                  {{ rent.rent }}
                </td>

                <td class="text-right">
                  <span (click)="editRent(rent)"
                    ><i class="fas fa-donate"></i>
                  </span>
                </td>

                <td class="text-right">
                  {{ rent.price }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
