<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/img/MarmolMendoza.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form [formGroup]="RegisterForm" >
        <input type="text"
         id="name"
          class="fadeIn one"
           name="login"
            placeholder="Nombre"
            formControlName="name"
            >
        
        <input type="text"
         id="login"
          class="fadeIn two"
           name="login" 
           placeholder="Correo"
           formControlName="email"
           >
        <input type="password"
         id="password"
          class="fadeIn three"
           name="login" 
           placeholder="Contraseña"
           formControlName="password"
           >
        <br> 
        
        <input type="text"
         id="cedula"
         class="fadeIn  five"  
         name="login"
         placeholder="Cedula"
         formControlName="id"
            
          >
        <input type="text"
        id="phone"
        class="fadeIn  six"
        name="login"
        placeholder="Celular"
        formControlName="phone"
        >
        <input type="text"
         id="direccion"
         class="fadeIn  seven"
         name="login" 
         placeholder="Direccion"
         formControlName="adress"
         >
        <input type="text" 
        id="ciudad" 
        class="fadeIn  eight" 
        name="login" 
        placeholder="Ciudad"
        formControlName="city"
        >
       
        
        
        <button type="button" class="btn btn-outline-primary" (click)="register()" [disabled]="RegisterForm.invalid">REGISTRARSE</button>
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="/client/login">Tienes una cuenta, Inicia seccion </a>
      </div>
  
    </div>
  </div>
  