<div class="container-fluid">
  <div class="row">
    <div class="col">
      <carousel>
        <slide>
          <img
            src="assets/img/viaje1.jpg"
            alt="first slide"
            style="display: block; width: 100%"
          />
        </slide>
        <slide>
          <img
            src="assets/img/viaje2.jpg"
            alt="second slide"
            style="display: block; width: 100%"
          />
        </slide>
        <slide>
          <img
            src="assets/img/viaje3.jpg"
            alt="third slide"
            style="display: block; width: 100%"
          />
          <br />
        </slide>
      </carousel>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="product-wrapper mb-45 text-center">
        <h6>HOSPEDAJE</h6>
        <div class="product-img" >
          <a routerLink="/client/sale">
          <img
            src="assets/img/hospedaje.jpg"
            alt=""
            width="100%"
            height="110%"
          /></a>
          
          <div class="product-action">
            <div class="product-action-style">Ir a hospedaje</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="product-wrapper mb-45 text-center">
        <h6>TOURS</h6>
        <div class="product-img">
          <a routerLink="/client/bathrooms">
          <img src="assets/img/TOUR.jpg" alt="" width="100%" height="100%" /></a>
          
          <div class="product-action">
            <div class="product-action-style">Ir a TOURS</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="product-wrapper mb-45 text-center">
        <h6>tRANSPORTES</h6>
        <div class="product-img">
          <a routerLink="/client/table">
          <img
            src="assets/img/transporte.jpg"
            alt=""
            width="100%"
            height="100%"
          /></a>
          
          <div class="product-action">
            <div class="product-action-style">Ir a transportes</div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="row ">
    <div class="col-md-12">

    </div>
  </div>

</div>
