

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">CLIENTES</h4>
        <form class="form-inline ml-auto">
          <input
            class="form-control"
            type="text"
            name="Nombre"
            [(ngModel)]="name"
            (ngModelChange)="SearchClient()"
            placeholder="Buscar"
            aria-label="Buscar"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Buscar
          </button>

          <button
            class="btn btn-outline-success my-2 my-sm-0 agregar"
            type="submit"
            routerLink="/dashboard/addUser"
          >
            +
          </button>
        </form>
      </div>
      <div class="card-body">
        <div class="table">
          <table class="table">
            <thead class="text-primary">
              <th>NOMBRE</th>
              <th>EMAIL</th>
              <th>DOCUMENTO</th>
              <th class="text-right">CIUDAD</th>
              <th class="text-right">DIRECCIÓN</th>
              <th class="text-right">ROL</th>
              <th>ACCIONES</th>
            </thead>
            <tbody>
              <tr *ngFor="let user of usersClients; index as i">
                <td>
                  {{ user.name }}
                </td>
                <td>
                  {{ user.email }}
                </td>
                <td>
                  {{ user.document }}
                </td>
                <td class="text-right">
                  {{ user.city }}
                </td>
                <td class="text-right">
                  {{ user.address }}
                </td>
                <td class="text-right">
                  {{ user.role }}
                </td>
                <td class="text-right">
                  <label class="switch">
                    <input type="checkbox" [checked]="user.active" (change)="activeChange(user, $event)">
                    <span class="slider round"></span>
                  </label>
                  <span (click)="updateClient(user)"
                    ><i class="fas fa-address-card"></i>
                  </span>
                  <span (click)="deleteUser(user)">
                    <i class="fas fa-trash"></i>
                  </span>
                </td>
              </tr>
            </tbody>
            <br>
            <a  routerLink="/dashboard/huser">Ayuda</a>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="card card-plain">
    <div class="card-header">
      <h4 class="card-title">ADMINISTRADORES</h4>
      <div>
        <form class="form-inline ml-auto">
          <input
            class="form-control"
            type="text"
            name="Nombre"
            [(ngModel)]="name"
            (ngModelChange)="SearchAdmin()"
            placeholder="Buscar"
            aria-label="Buscar"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Consultar
          </button>
          <button
            class="btn btn-outline-success my-2 my-sm-0 agregar"
            type="submit"
            routerLink="/dashboard/addUser"
          >
            +
          </button>
        </form>
      </div>
      <p class="card-category">ADMINISTRADORES CREADOS</p>
    </div>

    <div class="card-body">
      <div class="table">
        <table class="table table-bordered">
          <thead class="text-primary">
            <th>NOMBRE</th>
            <th>EMAIL</th>
            <th>DOCUMENTO</th>
            <th class="text-right">CIUDAD</th>
            <th class="text-right">DIRECCIÓN</th>
            <th class="text-right">ROL</th>
            <th class="text-right">ACCIONES</th>
          </thead>
          <tbody>
            <tr *ngFor="let user of usersAdmin">
              <td>
                {{ user.name }}
              </td>
              <td>
                {{ user.email }}
              </td>
              <td>
                {{ user.document }}
              </td>
              <td class="text-right">
                {{ user.city }}
              </td>
              <td class="text-right">
                {{ user.address }}
              </td>
              <td class="text-right">
                {{ user.role }}
              </td>
              <td class="text-right">
                <label class="switch">
                  <input type="checkbox" [checked]="user.active" (change)="activeChange(user, $event)">
                  <span class="slider round"></span>
                </label>
                <span (click)="deleteUser(user)">
                  <i class="fas fa-trash"></i>
                </span>
              </td>
            </tr>
          </tbody>
          <br>
          <a  routerLink="/dashboard/hadmin">Ayuda</a>
        </table>
      </div>
    </div>
  </div>
</div>
